body {
	background-color: rgb(30, 13, 104);
	color: #fff;
	font-family: 'Karla', Arial, Helvetica, sans-serif;
	font-size: 16px;
}
nav {
	background-color: rgba(30, 17, 85, 0.844);
	z-index: 1;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0px 7px 23px -6px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 7px 23px -6px rgba(0, 0, 0, 0.75);
}
h1 {
	color: rgba(30, 237, 235, 0.844);
	font-family: 'Holtwood One SC', Arial, Helvetica, sans-serif;
	letter-spacing: 0.3em;
	font-size: 2.5em;
	padding: 0px 0px 0px 5px;
	margin: 0px;
}
h2 {
	font-size: 1.8em;
	display: inline;
}
ul {
	padding-top: 1em;
	display: flex;
	flex-wrap: wrap;
}
#nav-first-row {
	/* width: 100%; */
}
#logo {
	justify-self: flex-start;
}
#search-container {
	padding-top: 0.8em;
	margin-top: 0.8em;
	border-top: 1px solid #fff;
}
#menu {
	justify-content: space-between;
	/* width: 100%; */
	margin: 0px;
	padding-left: 0.5em;
}
#menu-pop {
	z-index: 99;
	padding-left: 0.6em;
	cursor: pointer;
}
#menu-pop div {
	width: 2.5em;
	height: 0.3em;
	background-color: hsl(0, 0%, 89%);
	margin: 0.4em 0;
}

.hidden {
	display: none;
}
.visible {
	display: block;
}
.main {
	padding-top: 80px;
	justify-content: space-around;
}
.button-container {
	text-align: left;
	justify-self: flex-start;
	padding-top: 0.2em;
	font-size: 0.9em;
}
.search-bar {
	margin: 0px 10px;
	justify-self: flex-end;
}
.current-filter {
	padding-top: 0px;
	margin-bottom: 10px;
	justify-self: end;
}
.movie-poster {
	padding-top: 0px;
	margin: 0px 3px;
}

.movie-list-item {
	display: inline;
}

@font-face {
	font-family: 'Holtwood One SC';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Holtwood One SC'), local('HoltwoodOneSC'),
		url(https://fonts.gstatic.com/s/holtwoodonesc/v10/yYLx0hLR0P-3vMFSk1TCq3Txg5BHdrz7.woff2)
			format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Karla Bold'), local('Karla-Bold'),
		url(https://fonts.gstatic.com/s/karla/v13/qkBWXvYC6trAT7zuC8m5xLs.woff2)
			format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Holtwood One SC';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Holtwood One SC'), local('HoltwoodOneSC'),
		url(https://fonts.gstatic.com/s/holtwoodonesc/v10/yYLx0hLR0P-3vMFSk1TCq3Txg5BHdrz7.woff2)
			format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
@media only screen and (max-width: 800px) {
	body {
		font-size: 11px;
	}
}
@media only screen and (max-width: 600px) {
	body {
		font-size: 10px;
	}
}
@media only screen and (max-width: 400px) {
	body {
		font-size: 8px;
	}
	.menu {
		display: inline-block;
		margin: 0px;
	}
}
